// Windows Resource Script for Lemo
// 定义应用程序图标和元数据

// 应用程序图标 (ID = 1 是默认图标)
1 ICON "lemo.ico"

// 版本信息
1 VERSIONINFO
FILEVERSION     0,2,3,0
PRODUCTVERSION  0,2,3,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "ronger.io"
            VALUE "FileDescription",  "Lemo - Windows System Toolkit"
            VALUE "FileVersion",      "0.2.3.0"
            VALUE "InternalName",     "lemo"
            VALUE "LegalCopyright",   "Copyright (C) 2025"
            VALUE "OriginalFilename", "lemo.exe"
            VALUE "ProductName",      "Lemo"
            VALUE "ProductVersion",   "0.2.3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
